@import './core';

.title-component {
  display: flex;
  flex-direction: row;
  padding: $page-margin;
  max-width: $content-width;
  z-index: 1000;
  position: relative;
}

.title-component__logo {
  flex-grow: 1;
  .btn {
    text-shadow: 0 1px 1px rgba(16, 121, 103, 0.46);
  }
}
